@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>goodbye</title>
</head>
<body>
    <h1>Goodbye from the goodbye.cshml file</h1>

    @{ var myMessage = "Hello World"; }

    @{ var weekDay = DateTime.Now.DayOfWeek;}

    @{ var weekTime = DateTime.Now.TimeOfDay;}

    @{ var greetingMessage = myMessage + " Today it is " + weekDay + " and " + weekTime;
    }

   

    <p>@greetingMessage</p>


</body>
</html>
